tags
TODO
*.asm
.clangd/
__Tagbar__.1
obj/
mocs/
build/

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
CMakeFiles/
Elegant86
Elegant86_autogen/
cmake-win-build/
tests/Elegant86_autogen/
CMakeCache.txt
tests/CMakeCache.txt
tests/Test
Testing/
tests/Test_autogen
*.cmake
*build-*
*.qm
*.prl
.cache/

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
